.title{
    align-items: flex-start;
    justify-content: flex-start;
    color: yellow;
}

.homeBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    background-image: url('../images/centropokemon.jpeg');
    background-repeat: no-repeat;
}

